body{
  background-color:#f4f4f4;
  font:0.93em Arial, sans-serif;
  padding:0;
  margin:0;
  
}


.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

header{
  background-color: grey;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:black 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #top{
  float:left;
}

header #top h1{
  margin:0;
  color: red; 
}

header nav{
  float:right;
  margin-top:10px;
}


header a:hover{
  color:#cccccc;
  font-weight:bold;
}

#main{
  min-height:400px;
  background:url('showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#main h1{
  margin-top:100px;
  font-size:3.43em; /*change*/
  margin-bottom:10px;
}

#main p{
  font-size:20px;
}


#logos{
  margin-top:20px;
}

#logos .logo{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#logos .logo img{
  width:90px;
}


footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:grey;
  text-align: center;
}

@media only screen and (max-width: 768px){
  header #top,
  header nav,
  header nav li,
  #logos .logo,{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #main h1{
    margin-top:40px;
  }

  
}
@media only screen and (max-width:480px) {
  #logos .logo {
    float: none;
    width:100%;
    margin-right: 10px;
  }
  span {
    text-align: center; 
  }
  header #top {
    padding-left: 30px;
  }

}
@media only screen and (min-width: 320px) and (max-width: 380px){
  #main .container h1 {
    font-size: 32px;
    padding-bottom: 20px;
  }
  ul li {
   padding: 0 10px 0 10px; 

  }
  header #top {
    float: none;
    font-size: 12px;
   text-align: center;
  }
}
/*Site is responsive when checked on different sizes with inspect element.*/